<div class="footer">
<div class="footercontent">
    <div class="icon"><i class="bi bi-telephone"></i></div>
    <div class="text">
    <h3>Phone</h3>
    <p>(012) 440 85 76</p>
    </div>
</div>
<div class="footercontent">
    <div class="icon"><i class="bi bi-geo-alt"></i></div>
    <div class="text">
    <h3>Adress</h3>
    <p>Süleyman Rüstəm 147</p>
    </div>
</div>
<div class="footercontent">
    <div class="icon"><i class="bi bi-envelope"></i></div>
    <div class="text">
    <h3>Email</h3>
    <a href="mailto:hr@seftcons.com"><p>office@seftcons.com</p></a>
    </div>
</div>
<div class="footercontent">
    <div class="icon-social"><i class="bi bi-facebook"></i></div>
    <div class="icon-social"><i class="bi bi-instagram"></i></div>
    <div class="icon-social"><i class="bi bi-linkedin"></i></div>
</div>
</div>
</body>
</html>