<div class="footer" ><hr>
<p style="padding-top: 0; text-align: center; padding: 10px; margin-bottom: 5px;">© 2022 Azərbaycan Respublikasının Prezidenti yanında Ali Attestasiya Komissiyası. Müəllif hüquqları qorunur.</p>
</div>
</body>
</html>