<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/nav.css">
  <link rel="stylesheet" href="/blog.css">
  <title>Seft Consulting</title>
</head>
<body>
  <div class="site-header">
    <div class="logo" ><img src="images/logo.png" alt="" style="width: 140px;"> <h4 style="font-weight: 700; font-style: italic;">"We take care of your time"</h4></div>
    <div class="nav">
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/services"><li>Services</li></a>
        <a href="/projects"><li>Projects</li></a>
        <a href="/blogs"><li>News</li></a>
        <a href="/careers"><li>Careers</li></a>
        <a href="/libraries"><li>Library</li></a>
        <a href="/about"><li>About</li></a>
        <a href="/contact"><li>Contact</li></a>
      </ul>
      <input class="search" type="text">
    </div>
  </div>

