@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;1,300&display=swap');



body{
    font-family: fira Sans;
    /* background-color: rgb(245, 244, 244); */
    background-image: url(http://www.aak.gov.az/public/frontAssets/images/bg7.png);
    background-size: 30px;
}
nav{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: darkred;
    text-align: center;
    
}


nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    
}

nav ul li{
    margin-right: 30px;
    margin-top: 15px;
}

nav ul li a{                        
    text-decoration: none;
}

section{
    max-width: 800px;
    margin: 40px auto;
}


form{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 40px auto;
}

form input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

form input, p, textarea {
    margin-bottom: 10px;
   
}

textarea {
    margin-bottom: 25px;
    
}

form span {
   font-weight: 600;
   margin-left: 2px;
   cursor: pointer;
   
}


span {
    color: rgb(97, 20, 220);
   
}

.institution h2{
    font-weight: 600;
    text-align: center;
}


.container {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

}
.container h2 {
    font-weight: 600;
}

.instreport{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  width: 800px;
  background-color: rgb(221, 217, 217);
  padding: 3px;
  border-radius: 3px;
}

.questionname{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.questionname h3 {
    font-size: 1.5rem;
    padding-top: 2px;
}

.questioncontent{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
    
    
}

.questioncontent p{
    padding-top: 5px;
}

.questions{
   max-width: 800px;
   margin: 4px;
   padding: 5px;
   cursor: pointer;
   border-bottom: 2px solid #000;
}

.button{
    display: inline-block;
    flex-direction: row;
}


.questions.active .questioncontent{
    max-height: 500px;
    animation: fade 1s ease-in-out;
}

.questions.active svg{
    transform: rotate(180deg);
}

svg{
    transition: transform 0.5s ease-in ;
}

@keyframes fade {
    form{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}



.mteskilat li{
   list-style: none;
   font-weight: 600;
}

.mteskilat svg{
    margin-right: 2px;
    transform: rotate(180deg);
}


.institutionname h4{
    font-weight: 600;
}


.comment-box textarea{
    max-height: 40px;
    min-width: 100%;
}

.comment-box h5{
    font-weight: 600;

}

.comment-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}


