
<nav class= "  bg-light"><img src="http://www.aak.gov.az/public/frontAssets/img/logo.png" width="600px" alt="">
    <ul>
    <li><a href="/admin">Əsas Səhifə</a></li>
    <li><a href="/about">Sənədlər və təlimatlar</a></li>
    <li><a href="/login">Qeydiyyat / Giriş</a></li>

</ul>
</nav>