<%- include('../partials/header.ejs') %> 

<div class="container">
	<div class="row">
		<h1 style="text-align:center"><%= evaluation.name %></h1><p style="text-align: center;">adlı müəssisənin</p> 
		<h1 style="text-align:center">Şərh Bölməsi</h1>

		<div style="width: 50%; margin: 10px auto;">
			<form action="/evaluations/<%= evaluation._id %>/comments" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="comment[author]" placeholder="muellif">
				</div>
                <div class="form-group">
					<input class="form-control" type="text" name="comment[content]" placeholder="Şərh">
				</div>

				<div class="form-group">
					<button class="btn btn-large btn-primary btn-block">Əlavə et</button>
				</div>
			</form>
		</div>
		
	</div>
</div>
<%- include('../partials/header.ejs') %> 