<div class="backround-image">
    <%- include('./partials/header-section.ejs') %> 
</div>
<div class="about" style="width: 80%; margin: 3px auto; line-height: 1.5;" >
    <h2>About us</h2>
    <p>&nbsp; &nbsp; &nbsp;SEFT consulting is a consultancy company concentrating on social-economic development. Our consultants have been involved in the supply of services and transfer of knowledge for 15 years to more than 10 countries in Eastern Europe and the Central Asia. We work, in close cooperation with public and private organizations, on social, economic, financial, institutional, IT development; improvement of infrastructure of the labor market, training programs on social-economical areas. Environmental protection/management and gender issues are of the cross-cutting sectors during the implementation of the projects.</p>
    <p>&nbsp; &nbsp; &nbsp;Our target is to serve governments of developed and developing countries, international development/financing agencies, and private enterprises. SEFT Consulting can provide the specialists required for any type or size of project, from the project formulation stage to project execution and supervision of work.</p>
    <p>&nbsp; &nbsp; &nbsp;SEFT Consulting professional staff consists sociologists, economists, training, monitoring, labour market, institutional, gender specialists, environmentalists/ecologists and human resource development specialists. Most of our technical experts are assigned on a long-term basis; some twenty five per cent, mainly senior experts and management. We hired specialists on a contract basis.</p>
    <p>&nbsp;</p>
</div>
<%- include('./partials/footer.ejs') %> 