<div class="backround-image">
    <%- include('./partials/header-section.ejs') %> 
</div>
<div class="about" style="width: 80%; margin: 3px auto; line-height: 1.5;" >
    <h2>Careers</h2>
    <p style="margin-bottom: 15px;">SEFT Consulting is an equal opportunity employer. We seek talented professionals for challenging local and international assignments. Our projects require individuals with knowledge and expertise in a variety of industries and consulting services. We hire consultants on a short and long term basis. We maintain a databank of specialists interested in short or long -term assignments. If you wish to send your CV or update the information in your CV, please contact our HR-Manager. Please use the standard European CV format or other CV format, which can be obtained below.<br /><br /><strong>Curriculum Vitae Form used by SEFT Consulting</strong>.<br /><br />1.&nbsp;<a href="CVs/cv_WORLDBANK.doc" target="_blank">World Bank CV format</a><br />2.&nbsp;<a href="CVs/cv_EU.doc" target="_blank">European CV format</a><br />3.&nbsp;<a href="CVs/cv_ADB.doc" target="_blank">Asian Development Bank CV format</a><br /><br />Plsease use one of the CV formats, fill in your information, save the file under your first_last name format and send us (HR-Manager at&nbsp;<a href="mailto:hr@seftcons.com">hr@seftcons.com</a>).</p>
</div>
<%- include('./partials/footer.ejs') %> 