<%- include('./partials/header.ejs') %> 
<div class="container">
    <div class="homediv">
        <h4><strong>Standart 1.1 Tədqiqat: Proqram</strong></h4>
<p>Elmi m&uuml;əssisə (təşkilat) milli prioritetləri nəzərə alan, məqsəd və prioritetləri, konkret hədəf və gələcək perspektivləri &ouml;z&uuml;ndə ehtiva edən strateji y&ouml;n&uuml;ml&uuml; qısa proqrama əsaslanaraq araşdırma aparır.</p>
<p><strong>Bu standart niyə əhəmiyyətlidir? </strong></p>
<p>Elmi inkişaf proqnozlaşdırıla və ya planlaşdırıla bilməsə də, lazımi &ccedil;ər&ccedil;ivə şərtlərini təmin etmək &uuml;&ccedil;&uuml;n elmi m&uuml;əssisənin (təşkilatın) peşəkar planlaşdırmaya &ccedil;evrilən aydın məqsəd və vəzifələrə sahib olması &ccedil;ox vacibdir. Bu, x&uuml;susi əhəmiyyət kəsb edir, &ccedil;&uuml;nki tədqiqat fəaliyyətlərinin əksəriyyəti orta və ya uzunm&uuml;ddətli perspektivə malikdir. Bundan əlavə, tədqiqat həyata ke&ccedil;irmək, peşəkar və hədəf y&ouml;n&uuml;ml&uuml; planlaşdırmaya əsaslanacaq əhəmiyyətli mənbələrin ayrılmasını tələb edir.&nbsp;&nbsp;</p>
<p><strong>Meyarlar </strong></p>
<ul>
<li>Elmi m&uuml;əssisə (təşkilat) milli prioritetlər (məlum olduğu qədər) və beynəlxalq məlumatlandırma baxımından y&uuml;ksək keyfiyyətli tədqiqat təmin edən, eləcə də tədqiqat fəaliyyətləri &uuml;&ccedil;&uuml;n orta və uzunm&uuml;ddətli hədəfləri (gələcək perspektivləri) olan tədqiqat strategiyasına malikdir. M&uuml;əssisə, tədqiqat strategiyasının hazırlanmasına maraqlı tərəfləri cəlb edir.</li>
<li>Elm m&uuml;əssisənin (təşkilatın), strategiyaya y&ouml;nəlmiş, eləcə də milli prioritetlər və beynəlxalq məlumatlandırma baxımından y&uuml;ksək keyfiyyətli tədqiqat təmin edən tədqiqat proqramı var. Proqram konkret məqsəd və vəzifələrdən ibarətdir və nailiyyətləri &ouml;l&ccedil;mək &uuml;&ccedil;&uuml;n g&ouml;stəriciləri adlandırır.</li>
<li>Elm m&uuml;əssisə (təşkilat) milli və beynəlxalq tədqiqat cəmiyyətlərinə daxil edilir və tədqiqat fəaliyyətləri ilə əlaqədar uyğun fənlərin və ya elmi sahələrin inkişafına əhəmiyyətli dərəcədə t&ouml;hfə verir.</li>
<li>Elmi m&uuml;əssisə (təşkilat) tədqiqat fəaliyyətini orijinal fikirlərə və yaradıcı elmi yanaşmalara əsaslandırır.</li>
<li>Elm m&uuml;əssisə (təşkilat) ən m&uuml;asir texnologiyanı və uyğun tədqiqat metodlarını tətbiq edir.</li>
<li>Elmi m&uuml;əssisə (təşkilat) tədqiqat proqramının həyata ke&ccedil;irilməsini monitorinq etmək və tədqiqat strategiyasını nəzərdən ke&ccedil;irmək &uuml;&ccedil;&uuml;n yaradılmış prosesləri tətbiq edir.</li>
</ul>
<p><strong>Nəzərə alınmalı məsələlər </strong></p>
<ul>
<li>Strateji plan profil və məqsədləri ilə necə uyğundur, onlara nail olmaq &uuml;&ccedil;&uuml;n uzunm&uuml;ddətli məqsəd və strategiyalara necə b&ouml;l&uuml;r;</li>
<li>N&ouml;vbəti akkreditasiya zamanı qəbul edilmiş tədbirlər və ayrılan resurslar ilə m&uuml;əyyən edilmiş məqsədlərə necə nail olmanın təsviri;</li>
<li>Daxili (idarəetmə, elmi tədqiqat&ccedil;ılar, doktorantlar və digər iş&ccedil;ilər) və xarici (məsələn, işəg&ouml;t&uuml;rənlər, palatalar, assosiasiyalar, sahə nazirlikləri və s.) maraqlı tərəflərin strateji planlaşdırmada necə iştirak etdikləri;</li>
<li>Strateji planın hər bir hədəfində aydın və əldə edilə bilən nəticələr varmı;</li>
<li>Strategiyanın tədqiqat proqramına necə &ccedil;evrildiyi;</li>
<li>Kəmiyyət və keyfiyyət g&ouml;stəricilərinin strateji planda nəzərdə tutulan b&uuml;t&uuml;n nəticələrin həyata ke&ccedil;irilməsini tam əks etdirirmi;</li>
<li>Strateji planın həyata ke&ccedil;irilməsinə nəzarət etmək və strateji planı uyğunlaşdırmaq &uuml;&ccedil;&uuml;n tədbirlər varmı;</li>
<li>Daxili (idarəetmə, elmi tədqiqat&ccedil;ılar, doktorantlar və digər iş&ccedil;ilər) və xarici (məsələn, işəg&ouml;t&uuml;rənlər, palatalar, assosiasiyalar, sahə nazirlikləri və s.) maraqlı tərəflərin strateji planlaşdırmada necə iştirak etdikləri;</li>
</ul>
<p><strong>Təhlil &uuml;&ccedil;&uuml;n t&ouml;vsiyə olunan sənəd və məlumatlar (m&ouml;vcuddursa):</strong></p>
<ul>
<li>M&uuml;əssisənin tədqiqat strategiyası;</li>
<li>Tədqiqat proqramı (illik planlar və ya oxşar sənədlər) və onların həyata ke&ccedil;irilməsinin g&ouml;stəriciləri;</li>
<li>GZİT təhlili (strategiyanın tərtib edilməsi məqsədi ilə hazırlanmış sənəd);</li>
<li>Tədqiqat strategiyasının həyata ke&ccedil;irilməsi &uuml;&ccedil;&uuml;n d&ouml;vri hesabatlar və/və ya strateji planın aralıq qiymətləndirmə və ya bənzəri &uuml;&ccedil;&uuml;n monitorinq və qiymətləndirmə hesabatları.</li>
</ul>
<p>&nbsp;</p>
<h4><strong>Standart 1.2: Tədqiqat fəaliyyəti</strong></h4>
<p>Elmi m&uuml;əssisə (təşkilat) milli və beynəlxalq əhəmiyyətli tədqiqatlar aparır.</p>
<p><strong>Bu standart niyə əhəmiyyətlidir?</strong></p>
<p>Tədqiqat, yalnız yeni həllər təmin edirsə, cəmiyyətin, millətlərin və b&uuml;t&ouml;vl&uuml;kdə bəşəriyyətin inkişafına və proqressinə t&ouml;hfə verir. Nəticə etibarilə, cəmiyyət b&uuml;t&ouml;vlikdə &ouml;z elmi sisteminin fəaliyyətinə, fərdlərin və elmi m&uuml;əssisələrin/təşkilatların apardığı elmi araşdırmalara ən y&uuml;ksək tələblər qoymalıdır.</p>
<p><strong>G&ouml;stəricilər </strong></p>
<ul>
<li>Fənn və ya elmi sahə &uuml;&ccedil;&uuml;n adi formatda nəzərdən ke&ccedil;irilən nəşrlərin sayı.</li>
<li>Elmi m&uuml;əssisənin (təşkilatın) alimlərinin əhəmiyyətli milli və beynəlxalq elmi konfranslarda b&ouml;y&uuml;k təqdimatlarının sayı.</li>
<li>Elmi m&uuml;əssisə (təşkilat) tərəfindən təşkil edilən elmi konfransların sayı.</li>
<li>Elmi m&uuml;əssisənin (təşkilatın) alimlərinə verilən elmi fərqlənmə və m&uuml;kafatların sayı.</li>
<li>Nəzərdən ke&ccedil;irilən nəşrlərdən (ixtisaslaşdırılmış jurnallarda və ya ictimai əhəmiyyətli nəşrlərdə olan məqalələr, xidmətlər, sənət əsərləri, sərgilər, proqram təminatı və s.) başqa nəşrlərin sayı</li>
<li>Tətbiq olunan yeniliklərin sayı (patentlər, prototiplər, lisenziyalar)</li>
</ul>
<p><strong>Qiymətləndirmə şkalası </strong></p>
<p>4 &Ccedil;ox yaxşı</p>
<p>M&uuml;əssisə g&uuml;cl&uuml; beynəlxalq iştirak&ccedil;ıdır. Tədqiqat orijinallıq və əhəmiyyət baxımından &ccedil;ox y&uuml;ksək keyfiyyətdədir. Beynəlxalq akademik cəmiyyətin marağını cəlb etmək və ən sərt nəşr standartları olan beynəlxalq nəşriyyat&ccedil;ı və ya jurnallar tərəfindən nəşr edilmək potensialına malikdir.</p>
<p>3 Yaxşı</p>
<p>M&uuml;əssisə beynəlxalq səviyyədə tanınan g&uuml;cl&uuml; beynəlxalq iştirak&ccedil;ıdır. Ekspertlərin qiymətləndirməsində m&uuml;əssisə tərəfindən aparılan araşdırmaların əhəmiyyəti ş&uuml;bhəsizdir. Beynəlxalq səviyyədə tanınmış nəşriyyat&ccedil;ı və ya jurnallar bu səviyyədəki əsərləri dərc edə bilər.</p>
<p>2 Kafi</p>
<p>M&uuml;əssisə qənaətbəxş milli iştirak&ccedil;ıdır. Beynəlxalq akademik ictimaiyyət, m&uuml;əssisənin apardığı tədqiqatın əhəmiyyətini məqbul hesab edir. Milli səviyyədə tanınmış naşir və ya jurnallar bu səviyyədəki əsərləri dərc edə bilərlər.</p>
<p>1 Zəif/pis</p>
<p>M&uuml;əssisə zəif milli iştirak&ccedil;ıdır. M&uuml;əssisə tərəfindən aparılan araşdırmalar, nadir hallarda yeni elmi kəşflər ehtiva edir. M&uuml;əssisənin tədqiqat profili a&ccedil;ıq şəkildə milli xarakter daşıyır, yəni m&uuml;əssisə elmi ictimaiyyətin beynəlxalq m&uuml;zakirələrində iştirak etmir. Əsasən beynəlxalq tədqiqat tendensiyalarının Latviyada tətbiqinə y&ouml;nəlib.</p>
<p>&nbsp;</p>
<h4><strong>1.3 T</strong><strong>ədqiqat nəticəsi </strong></h4>
<p><strong>Standart</strong></p>
<p>Elmi m&uuml;əssisə (təşkilat) &ouml;lkədə və xaricdə sosial, mədəni, iqtisadi, ekoloji və siyasi inkişafa əhəmiyyətli t&ouml;hfələr verir.</p>
<p><strong>Bu standart niyə əhəmiyyətlidir? </strong></p>
<p>Tədqiqatın təsiri əsasən &uuml;&ccedil; sahəni əhatə edir:</p>
<ul>
<li>orijinal tədqiqat t&ouml;hfəsi vasitəsiylə sahə &uuml;zrə bilikləri genişləndirmək;</li>
<li>iqtisadiyyat, sağlamlıq, ətraf m&uuml;hit, cəmiyyət və mədəniyyət sahələrində yenilikləri tətbiq etməklə birbaşa və ya dolayısıyla proqresə t&ouml;hfə vermək;</li>
<li>siyasəti m&uuml;əyyənləşdirməni məlumatlandırmaq.</li>
</ul>
<p>Bu əhatəli təsir anlayışı tədqiqat keyfiyyətinin əvəzolunmaz bir hissəsini təşkil edir. Tədqiqatın təsir n&ouml;v&uuml; tədqiqat sahələrinə g&ouml;rə əhəmiyyətli dərəcədə fərqlənə bilər.</p>
<p><strong>Meyarlar </strong></p>
<ul>
<li>Elmi m&uuml;əssisə (təşkilat) tədqiqat fəaliyyəti nəticəsində əldə edilən bilikləri qeyri-elmi icmalara və b&uuml;t&ouml;vl&uuml;kdə cəmiyyətə yaymaq &uuml;&ccedil;&uuml;n uğurla qurulmuş mexanizmləri tətbiq edir.</li>
<li>Elmi m&uuml;əssisə (təşkilat) tədqiqat nəticələrinin tətbiqini təşviq etmək &uuml;&ccedil;&uuml;n uğurla qurulmuş mexanizmləri tətbiq edir.</li>
<li>Elmi m&uuml;əssisə (təşkilat) tədqiqat fəaliyyətinin nəticələrini kommersiyalaşdırmaq &uuml;&ccedil;&uuml;n uğurla qurulmuş mexanizmləri tətbiq edir.</li>
</ul>
<p><strong>Nəzərə alınmalı məsələlər</strong></p>
<ul>
<li>M&uuml;əssisə təsir sahələrini necə m&uuml;əyyənləşdirir;</li>
<li>Nəzərdə tutulan təsir sahələrindəki ehtiyaclar araşdırma strategiyasında necə əks olunur;</li>
<li>Təsir m&uuml;xtəlif yollarla edilə bilər:
<ul>
<li>M&uuml;vafiq sahələrdə tədqiqat nailiyyətlərinin yayılması və tədqiqat nəticələrinin ictimaiyyətə, maraqlı tərəflərə, siyasəti m&uuml;əyyənləşdirənlərə və həyata ke&ccedil;irən qurumlara &ccedil;atdırılması;</li>
<li>tətbiqi tədqiqatlar və (və ya) tədqiqat nəticələrinin m&uuml;əssisələrə, qeyri-h&ouml;kumət təşkilatlarına, d&ouml;vlət m&uuml;əssisələrinə &ouml;t&uuml;r&uuml;lməsi;</li>
<li>m&uuml;asir mədəniyyət və mədəni irsin əlaqəsi, yerli, milli və beynəlxalq səviyyədə mədəniyyət həyatında iştirak;</li>
<li>M&uuml;əssisənin &ouml;lkənin və ya bənzərinin strateji plan və proqramlarına cəlb edilməsi;</li>
<li>elmi iş&ccedil;i heyətin strateji sənədlərinin hazırlanması &uuml;&ccedil;&uuml;n peşəkar se&ccedil;ilmiş m&uuml;əssisələrə - şuralara, komitələrə, iş&ccedil;i qruplarına cəlb edilməsi və peşəkar fəaliyyətlə birbaşa əlaqəsi olmayan assosiyasiyalarda iştirakı.</li>
</ul>
</li>
<li>Milli inkişaf ehtiyaclarına cavab verən m&uuml;əssisə tərəfindən hansı fəaliyyətlər həyata ke&ccedil;irilir;</li>
<li>M&uuml;əssisənin təsir g&ouml;stərmə nəticələrini necə topladı, izlədi və təhlil etdi; m&uuml;əssisə bu məlumatları &ouml;z fəaliyyətini artırmaq &uuml;&ccedil;&uuml;n necə istifadə edir;</li>
<li>M&uuml;əssisə hansı məqsədlə/hansı formada sosial və iş tərəfdaşlarıyla əməkdaşlıq edir; bu əməkdaşlığın m&uuml;əssisəyə təsiri nədir;</li>
<li>Elmi iş&ccedil;i heyətinin peşəkar və qeyri-peşəkar (sivil vətəndaş) fəaliyyəti ilə əlaqədar sosial fəaliyyətinin m&uuml;xtəlifliyi və dinamikası.</li>
</ul>
<p><strong>Təhlil &uuml;&ccedil;&uuml;n t&ouml;vsiyə olunan sənəd və məlumatlar (m&ouml;vcuddursa):</strong></p>
<ul>
<li>tərəfdaşlarla (iş, sənaye və s. m&uuml;əssisələr) əməkdaşlıq m&uuml;qavilələrinin sayı;</li>
<li>son 3 ildə regional və milli inkişafla əlaqədar fəaliyyətlərin siyahısı.</li>
</ul>
<p>&nbsp;</p>
<ol start="2">
<li>
<h4><strong> Resurslar </strong></h4>
</li>
</ol>
<p><strong>Qiymətləndirmə sahəsi </strong></p>
<p>Elmi m&uuml;əssisə (təşkilat) tədqiqat aparmaq &uuml;&ccedil;&uuml;n tədqiqat proqramına uyğun olaraq kifayət qədər resurslara malikdir. Bundan əlavə, elmi m&uuml;əssisənin (təşkilatın) gələcək perspektivlərini həyata ke&ccedil;irmək &uuml;&ccedil;&uuml;n uyğun resurslar əldə etmək planı var.</p>
<p><strong>Bu standart niyə əhəmiyyətlidir? </strong></p>
<p>Elmi araşdırmaların mərkəzində ən yeni tədqiqatları fəal şəkildə aparan y&uuml;ksək ixtisaslı elm adamları/alimlər dayanır. Elm adamlarının bərabər şəkildə m&uuml;kəmməl infrastruktura ehtiyacı var. Bu standart, yalnız m&uuml;əssisələrin canlı araşdırma m&uuml;hitini yaratmasını deyil, həm də maliyyə mənbələrinin effektiv və səmərəli istifadəsini də təmin edəcək.&nbsp;&nbsp;</p>
<p><strong>Standart 2.1: İnsan qaynaqları </strong></p>
<p>Elmi m&uuml;əssisədə (təşkilatda), tədqiqat proqramını və gələcək perspektivləri həyata ke&ccedil;irmək &uuml;&ccedil;&uuml;n ixtisas, profil, say və tədqiqat fəaliyyəti/performansı baxımından uyğun olan elmi iş&ccedil;ilər fəaliyyət g&ouml;stərir. Elmi m&uuml;əssisədə (təşkilatda), tədqiqat proqramının həyata ke&ccedil;irilməsini asanlaşdırmaq &uuml;&ccedil;&uuml;n kifayət qədər və uyğun ixtisaslı idarəetmə və inzibati iş&ccedil;ilər də fəaliyyət g&ouml;stərir.</p>
<p><strong>Bu standart niyə əhəmiyyətlidir? </strong></p>
<p>Elmi tədqiqatların mərkəzində ən yeni tədqiqatları fəal şəkildə aparan y&uuml;ksək ixtisaslı elm adamları dayanır. Nəticə etibarilə, y&uuml;ksək keyfiyyətli kadrlar təmin etmək &uuml;&ccedil;&uuml;n m&uuml;kəmməl alimlərin və perspektivli gənc alimlərin cəlb edilməsi, həm&ccedil;inin m&ouml;vcud kadrların, x&uuml;susən də gənc alimlərin dəstəklənməsi vacibdir. Elmi kadrların ixtisasına əlavə olaraq, onların fəaliyyət səviyyəsi və elmi tədqiqatların nəticəsi yalnız canlı tədqiqat m&uuml;hiti yaratmaq &uuml;&ccedil;&uuml;n deyil, həm də maliyyə mənbələrindən effektiv və səmərəli istifadəni təmin etmək &uuml;&ccedil;&uuml;n də vacibdir.</p>
<p><strong>Meyarlar </strong></p>
<ul>
<li>Elmi m&uuml;əssisə (təşkilat) iş&ccedil;i heyətinin vəziyyətinin monitorinqi, risklərin monitorinq və proqnozlaşdırılması da daxil olmaqla gələcək planlaşdırma &uuml;&ccedil;&uuml;n qurulmuş prosesləri tətbiq edir.</li>
<li>Elmi m&uuml;əssisənin (təşkilatın) elmi iş&ccedil;i heyəti tədqiqat proqramına və gələcək perspektivlərə uyğun olaraq y&uuml;ksək keyfiyyətli tədqiqat aparmaq &uuml;&ccedil;&uuml;n say, profil və ixtisas baxımından uyğundur.</li>
<li>Elmi ş&ouml;bələrdə, tədqiqat layihələrində və ya tədqiqat qruplarında və s. rəhbər vəzifələrə təyinat, məqsədlərə &ccedil;atmaq &uuml;&ccedil;&uuml;n kvalifikasiya və fərdi potensiala əsaslanır.</li>
<li>Elmi m&uuml;əssisənin (təşkilatın) texniki, inzibati və digər peşəkar heyəti tədqiqat fəaliyyətini dəstəkləmək &uuml;&ccedil;&uuml;n say, profil və ixtisas baxımından uyğundur.</li>
<li>Elm m&uuml;əssisə (təşkilat) gənc alimlərə x&uuml;susi diqqət yetirməklə yaradılmış iş&ccedil;i heyətin inkişaf siyasətini tətbiq edir.</li>
<li>Elmi m&uuml;əssisə (təşkilat) elmi tədqiqat iş&ccedil;ilərini elmi məhsuldarlığına və nəticələrinə g&ouml;rə m&uuml;kafatlandırmaq və onlara sanksiya vermək &uuml;&ccedil;&uuml;n qurulmuş mexanizmləri tətbiq edir.</li>
<li>Elmi m&uuml;əssisə (təşkilat) hərəkətlilik və tədqiqat iş&ccedil;ilərinin m&uuml;badiləsi siyasətini tətbiq edir.</li>
</ul>
<p><strong>&nbsp;</strong></p>
<p><strong>Nəzərə alınmalı məsələlər</strong></p>
<ul>
<li>M&uuml;əssisənin insan qaynaqları və ya tədqiqat strategiyasının m&uuml;vafiq bir komponenti varmı. Əgər yoxdursa, iş&ccedil;i heyətin idarə&ccedil;iliyi və qiymətləndirilməsi necə təyin olunur; Fərqli vəzifələr &uuml;&ccedil;&uuml;n işə qəbul (işə qəbul siyasəti, daimi və daimi olmayan iş&ccedil;ilərin iş şərtləri haqqında şərhlər m&uuml;raciətdə verilməlidir) və maaşların təyin edilməsi necə idarə olunur;</li>
<li>elmi iş&ccedil;ilərin səriştələrinin inkişafı &uuml;&ccedil;&uuml;n sistem nədir (m&uuml;ntəzəmliyi, əsas istiqamətləri, kimin məsuliyyət daşıdığını, elmi və peşə səriştələrini inkişaf etdirmək imkanlarının nələr olduğunu);</li>
<li>elmi tədqiqatda birbaşa iştirak etməyən iş&ccedil;ilərə bacarıqlarını inkişaf etdirmək &uuml;&ccedil;&uuml;n hansı imkanlar təklif olunur;</li>
</ul>
<p>&nbsp;</p>
<p><strong>Təhlil &uuml;&ccedil;&uuml;n t&ouml;vsiyə olunan sənəd və məlumatlar (m&ouml;vcuddursa):</strong></p>
<ul>
<li>İnsan resursları siyasəti;</li>
<li>İşə qəbul qaydaları;</li>
<li>Veb saytlarda, qəzetlərdə və ya digər nəşriyyatlarda işə qəbul &uuml;&ccedil;&uuml;n yerləşdirilən əvvəlki elanların n&uuml;munələri;</li>
<li>M&uuml;əyyən işə g&ouml;t&uuml;rmə və ya y&uuml;ksəlişlə əlaqədar şikayət n&uuml;munələri;</li>
<li>Son 3 ildə ixtisasını artıran iş&ccedil;ilərin sayı;</li>
<li>Son 3 ildə kadrların inkişaf etdirmə fəaliyyətinin maliyyələşdirilməsi haqqında məlumatlar;</li>
</ul>
<p><strong>&nbsp;</strong></p>
<h4><strong>Standart 2.2: İnfrastruktur</strong></h4>
<p>Elmi m&uuml;əssisə (təşkilat), tədqiqat proqramını və gələcək perspektivləri həyata ke&ccedil;irmək &uuml;&ccedil;&uuml;n uyğun olan ən m&uuml;asir material və rəqəmsal infrastrukturla təchiz edilmişdir.</p>
<p><strong>Bu standart niyə əhəmiyyətlidir?</strong></p>
<p>Elm adamları yalnız bərabər şəkildə m&uuml;kəmməl olan infrastrukturla ən son araşdırmaları apara bilərlər. Bu, kitab əsaslı elmi sahələr və tətbiqi m&uuml;həndislik sahələri ilə eyni şəkildə laboratoriya elmlərinə də aiddir. M&uuml;kəmməl resurslar y&uuml;ksək ixtisaslı kadrların cəlb edilməsi &uuml;&ccedil;&uuml;n də vacib amildir.&nbsp;</p>
<p><strong>Meyarlar </strong></p>
<ul>
<li>Elmi m&uuml;əssisə (təşkilat), infrastrukturun uyğunluğunun monitorinqi və gələcək planlaşdırma &uuml;&ccedil;&uuml;n qurulmuş prosesləri tətbiq edir.</li>
<li>Elmi m&uuml;əssisənin (təşkilatın) qurğu və avadanlıqları, tədqiqat proqramına və gələcək perspektivlərə uyğun olaraq y&uuml;ksək keyfiyyətli tədqiqat aparmaq &uuml;&ccedil;&uuml;n uyğundur. Elmi m&uuml;əssisə (təşkilat) xarici avadanlıq və qurğular tətbiq edərsə, istifadə icazəsi m&uuml;qavilə ilə təmin edilir.</li>
<li>Elmi məlumat bazalarına &ccedil;ıxış qənaətbəxşdir.</li>
</ul>
<p><strong>Nəzərə alınmalı məsələlər</strong></p>
<ul>
<li>Elmi tədqiqat fəaliyyəti &uuml;&ccedil;&uuml;n binaların və İT infrastrukturunun uyğunluğu;</li>
<li>M&uuml;xtəlif tədqiqat fəaliyyətlərinin ehtiyaclarına əsaslanan x&uuml;susi avadanlıqların m&ouml;vcudluğu;</li>
<li>M&uuml;əssisənin strateji məqsədləri ilə əlaqədar maliyyə resurslarının necə planlaşdırıldığı;</li>
<li>Maliyyə resurslarının elmi tədqiqat&ccedil;ıların fərqli ehtiyaclarına necə uyğunlaşdırılması;</li>
</ul>
<p><strong>&nbsp;</strong></p>
<p><strong>Təhlil &uuml;&ccedil;&uuml;n t&ouml;vsiyə olunan sənəd və məlumatlar (m&ouml;vcuddursa):</strong></p>
<ul>
<li>Tədqiqat fəaliyyətlərinin və ya layihələrin x&uuml;susiyyətləri ilə əlaqədar x&uuml;susi avadanlıqlar haqqında məlumatlar;</li>
<li>Tədqiqat fəaliyyəti &uuml;&ccedil;&uuml;n binalar haqqında məlumatlar.</li>
</ul>
<p>&nbsp;</p>
<p><strong>2.3 Maddi/maliyyə resurslar(ı)</strong></p>
<p><strong>Standart</strong></p>
<p>Elmi m&uuml;əssisə (təşkilat), tədqiqat proqramını və gələcək perspektivləri həyata ke&ccedil;irmək &uuml;&ccedil;&uuml;n kifayət qədər maliyyələşdirilir.</p>
<p><strong>Bu standart niyə əhəmiyyətlidir?</strong></p>
<p>Y&uuml;ksək keyfiyyətli elmi tədqiqatların aparılması &uuml;&ccedil;&uuml;n kifayət qədər və davamlı maliyyə resursları lazımdır. X&uuml;susilə də davamlılıq gələcək tədqiqat fəaliyyətləri &uuml;&ccedil;&uuml;n ilkin şərtdir. Bir &ccedil;ox tədqiqat fəaliyyəti orta və ya uzunm&uuml;ddətlidir. Nəticə etibarilə, maliyyələşmənin davamlılığı strateji planlaşdırma &uuml;&ccedil;&uuml;n ilkin şərtdir.</p>
<p><strong>Meyarlar </strong></p>
<ul>
<li>Elmi m&uuml;əssisə (təşkilat) maliyyə vəziyyəti, risklərin monitorinqi və proqnozlaşdırılması daxil olmaqla gələcək planlaşdırma &uuml;&ccedil;&uuml;n qurulmuş prosesləri tətbiq edir.</li>
<li>Maliyyə resursları tədqiqat proqramının həyata ke&ccedil;irilməsini və gələcək perspektivləri təmin etmək &uuml;&ccedil;&uuml;n uyğundur. Elmi m&uuml;əssisə (təşkilat) maliyyə planlaşdırmasının bir hissəsi olaraq:
<ul>
<li>milli rəqabətsiz mənbələrdən uyğun maliyyə resursları təmin edir;</li>
<li>milli rəqabətli mənbələrindən uyğun maliyyə resursları təmin edir;</li>
<li>&ouml;zəl maliyyələşdirmə mənbələrindən uyğun resursları təmin edir (rəqabətli və ya rəqabətsiz maliyyələşdirmə, kommersiya xidmətləri və s.);</li>
<li>beynəlxalq maliyyələşdirmə mənbələrindən uyğun resursları təmin edir.</li>
</ul>
</li>
</ul>
<p><strong>Nəzərə alınmalı məsələlər</strong></p>
<ul>
<li>M&uuml;əssisədə maliyyə resursları necə planlaşdırılır və paylanılır (sxem və s.); m&uuml;əssisədəki struktur b&ouml;lmələrinin y&uuml;ksək dərəcədə m&uuml;stəqilliyə malik olduğu halda, vəsaitin planlaşdırılması və istifadəsi həm mərkəzi idarəetmə, həm də ş&ouml;bələr səviyyəsində necə həyata ke&ccedil;irilir;</li>
<li>Maliyyələşdirmə mənbələri nələrdir, gəlirlər onlara g&ouml;rə necə b&ouml;l&uuml;şd&uuml;r&uuml;l&uuml;r;</li>
<li>Qəbul olunan/alınan vəsaitin b&ouml;lg&uuml;s&uuml;;</li>
<li>Vəsaitlərin istifadəsi ilə bağlı qərar və hesabat vermə prosedurları;</li>
<li>İnfrastrukturun yenilənməsi və ya alınması &uuml;&ccedil;&uuml;n vəsaitin kifayət qədər olması.</li>
</ul>
<p><strong>Təhlil &uuml;&ccedil;&uuml;n t&ouml;vsiyə olunan sənəd və məlumatlar (m&ouml;vcuddursa):</strong></p>
<ul>
<li>Maliyyə planı;</li>
<li>Maliyyələşmə resurslarına g&ouml;rə m&uuml;əssisənin gəliri;</li>
<li>Kateqoriyalar &uuml;zrə m&uuml;əssisənin xərcləri;</li>
<li>Binaların təmirinə ayrılan illik vəsait;</li>
<li>Kitabxana fondlarının yenilənməsinə ayrılan illik vəsait;</li>
<li>İnformasiya texnologiyaları resurslarının yenilənməsinə ayrılan illik vəsait;</li>
<li>Texnoloji və laboratoriya avadanlıqlarının yenilənməsinə ayrılan illik vəsait;</li>
</ul>
<p><strong>&nbsp;</strong></p>
<ol start="3">
<li><strong> Doktorantura təhsili (m&ouml;vcuddursa)</strong></li>
</ol>
<p><strong>Standart 3.1: Tədqiqat m&uuml;hiti </strong></p>
<p>Elmi m&uuml;əssisə (təşkilat) m&uuml;əyyən tədqiqat m&uuml;hitinə malikdir və tədqiqat proqramına inteqrasiya olunmuş doktorantura proqramı sahəsində y&uuml;ksək keyfiyyətli tədqiqatlar aparır.</p>
<p><strong>Bu standart niyə əhəmiyyətlidir?</strong></p>
<p>Bu standart, elmi m&uuml;əssisənin (təşkilatın) doktorantura proqramının həyata ke&ccedil;irilməsində tələbə və tədqiqat iş&ccedil;iləri &uuml;&ccedil;&uuml;n əlverişli şərait yaradacaq. Doktorantura proqramlarını həyata ke&ccedil;irmək və x&uuml;susilə də doktorantura tələbələrinə nəzarət etmək ciddi tədqiqat işləri tələb edir. Bu standart, tədqiqat portfeli birdən &ccedil;ox fənni və ya akademik sahəni əhatə edən və ya y&uuml;ksək ixtisaslaşmış və/və ya fənlərarası doktorantura proqramı həyata ke&ccedil;irmək niyyətində olan elmi m&uuml;əssisələrdə (təşkilatlarda) x&uuml;susi əhəmiyyət kəsb edir.</p>
<p><strong>Meyarlar </strong></p>
<ul>
<li>Elm m&uuml;əssisə (təşkilat) məzmun və elmi metodlarla əlaqədar olaraq m&uuml;vafiq intizamın genişliyini əhatə edən doktorantura proqramı sahəsində tədqiqat mərkəzinə malikdir. Tədqiqat fəaliyyətinin istiqaməti elmi m&uuml;əssisənin (təşkilatın) profilinə və m&uuml;vafiq fənn mədəniyyətinə uyğundur və beynəlxalq məlumatlandırmanı təmin edir.</li>
<li>Elmi m&uuml;əssisə (təşkilat) m&uuml;vafiq fənlərin məzmununu və elmi metodlarını əhatə edən doktorantura proqramı &uuml;&ccedil;&uuml;n m&uuml;vafiq sahə &uuml;zrə ixtisaslaşmış professorları işə g&ouml;t&uuml;r&uuml;r. Əsas peşə, elmi m&uuml;əssisədə (təşkilatda) maaşlı bir işdə &uuml;mumi iş saatının ən az 50%-ni işləməkdir.</li>
<li>Elmi m&uuml;əssisə (təşkilat) doktorantura proqramı ilə əlaqəli və m&uuml;vafiq elm sahəsi &uuml;zrə mədəniyyətə uyğun olan beynəlxalq əməkdaşlıq layihələri həyata ke&ccedil;irir.</li>
<li>Elmi m&uuml;əssisə (təşkilat) m&uuml;vafiq təşkilati və ya struktur &ccedil;ər&ccedil;ivəsi şərtlərini təmin etməklə tədqiqatı təşviq edir.</li>
<li>Elmi m&uuml;əssisənin (təşkilatın) tədqiqat infrastrukturu, eləcə də onun qurğu və avadanlıqları doktorantura proqramını idarə etmək &uuml;&ccedil;&uuml;n kəmiyyət və keyfiyyət baxımından yetərlidir. Elmi m&uuml;əssisə (təşkilat) xarici resurslardan istifadə etdiyi halda, onlardan istifadə icazəsi m&uuml;qavilə ilə təmin edilir.</li>
<li>Elmi m&uuml;əssisə (təşkilat) doktorantura proqramının həyata ke&ccedil;irilməsi və daha da inkişafı &uuml;&ccedil;&uuml;n uyğun və davamlı maliyyə resurslarını təmin edir.</li>
</ul>
<p><strong>Nəzərə alınmalı məsələlər</strong></p>
<ul>
<li>doktorantura proqramının elmi m&uuml;əssisənin (təşkilatın) tədqiqat mərkəzləri ilə əlaqəsi</li>
<li>tədqiqat fəaliyyətləri və akademik iş&ccedil;i heyətinin tədqiqat mərkəzlərində performansı.</li>
</ul>
<p><strong>&nbsp;</strong></p>
<h4><strong>Standart 3.2: Elmi rəhbərlik və dəstək</strong></h4>
<p>Elmi m&uuml;əssisə/təşkilat doktorantlara effektiv elmi rəhbərliyi təmin edir və peşəkar dəstək verir.</p>
<p><strong>Bu standart niyə əhəmiyyətlidir?</strong></p>
<p>Bu standart, elmi m&uuml;əssisənin (təşkilatın) doktorantlara y&uuml;ksək keyfiyyətli dəstək verməsini təmin etmək &uuml;&ccedil;&uuml;nd&uuml;r. Doktorantura dissertasiyası doktorantura proqramının əsas nəticəsidir. Təcr&uuml;bəli bir tədqiqat&ccedil;ının elmi rəhbərliyi/təlimatı əsas amildir, &ccedil;&uuml;nki tədqiqat y&uuml;ksək sərbəstlik səviyyəsində aparılır.</p>
<p><strong>Meyarlar </strong></p>
<ul>
<li>Elm m&uuml;əssisə (təşkilat) doktorantlarla m&uuml;əssisə, doktorant və elmi rəhbərlərin m&uuml;vafiq h&uuml;quq və vəzifələrini tənzimləyən bir m&uuml;qavilə bağlayır.</li>
<li>Elmi m&uuml;əssisənin (təşkilatın) Elmi Şurası doktoranta(lara) elmi rəhbər(lər) təyin edir. (QAYDALAR, sənəd 3.29; 3.21)</li>
<li>Elmi m&uuml;əssisə (təşkilat) doktorantura tələbələrinin illik proqresini qiymətləndirir (bax. QAYDALAR, sənəd 3.22; 3.30)</li>
<li>Elmi m&uuml;əssisə (təşkilat) doktorantın elmi, ali təhsil m&uuml;əssisələri və əgər m&ouml;vcuddursa elmi sahədə fəaliyyət g&ouml;stərməyən tərəfdaşlarla əməkdaşlıq edərək digər alimlərlə dialoq qurmasına imkan yaradır.</li>
<li>Elmi m&uuml;əssisə (təşkilat) doktorantların milli və beynəlxalq konfranslarda və s. iştirakını dəstəkləyir.</li>
<li>Elmi m&uuml;əssisə (təşkilat) doktorantlara karyera inkişaf fəaliyyətləri də daxil olmaqla elmi sahəyə aidiyyatı olmayan uyğun məsləhət xidmətləri təqdim edir.</li>
</ul>
<p><strong>Nəzərə alınmalı məsələlər</strong></p>
<ul>
<li>Elmi rəhbərlər necə se&ccedil;ilir</li>
<li>Tələbələrə elmi diskursda iştirak imkanları necə verilir</li>
</ul>
<p><strong>Təhlil &uuml;&ccedil;&uuml;n t&ouml;vsiyə olunan sənəd və məlumatlar (m&ouml;vcuddursa):</strong></p>
<ul>
<li>Elmi m&uuml;əssisə (təşkilat), doktorantlar və elmi rəhbərlər arasındakı m&uuml;qavilələrin n&uuml;munəsi.</li>
<li>Fənn &uuml;zrə konfrans və beynəlxalq diskurslarda iştirakın dəstəklənmə siyasəti.</li>
</ul>
<p><strong>&nbsp;</strong></p>
<h4><strong>Standart 3.3: İş&ccedil;i heyəti</strong></h4>
<p>Elmi m&uuml;əssisədə (təşkilatda), tədqiqat proqramını həyata ke&ccedil;irmək &uuml;&ccedil;&uuml;n ixtisas, profil, say və tədqiqat fəaliyyəti/performansı baxımından uyğun olan elmi iş&ccedil;ilər fəaliyyət g&ouml;stərir. Elmi m&uuml;əssisədə (təşkilatda), kifayət qədər və uyğun ixtisaslı idarəetmə və inzibati iş&ccedil;ilər də fəaliyyət g&ouml;stərir.</p>
<p><strong>Bu standart niyə əhəmiyyətlidir?</strong></p>
<p>Bu standart, doktorantura proqramının say və ixtisas baxımından uyğun olan fəal tədqiqat&ccedil;ı professorlar tərəfindən tədris olunması və idarəetməsinin kifayət qədər və ixtisaslı inzibati heyət tərəfinfən həyata ke&ccedil;irildiyini təmin edəcək.</p>
<p><strong>Meyarlar </strong></p>
<ul>
<li>Elm m&uuml;əssisə (təşkilat) doktorantura proqramını həyata ke&ccedil;irmək &uuml;&ccedil;&uuml;n uyğun akademik və akademik sahədə fəaliyyət g&ouml;stərməyən iş&ccedil;i heyətini işə cəlb edir. Akademik heyət doktorantura proqramının sahələrində ixtisaslaşmış olur.</li>
<li>Tezis layihələrinə elmi rəhbərlik &uuml;&ccedil;&uuml;n nəzərdə tutulmuş akademik heyət, m&uuml;vafiq m&ouml;vzunun araşdırılması ilə məşğul olur, eləcə də m&uuml;əssisənin yanaşmasına və m&uuml;vafiq m&ouml;vzu mədəniyyətinə uyğun olaraq tədqiqat işləri aparır. Tezislərə rəhbərlik edən professorların əksəriyyəti elmi rəhbərlik təcr&uuml;bəsinə malikdir.</li>
<li>Doktorantura tezislərinə elmi rəhbərlik etmək &uuml;&ccedil;&uuml;n uyğun nisbət bir elmi rəhbərə 5 doktorantdır. (TZE). (bax. QAYDALAR, sənəd 3.23)</li>
<li>M&uuml;əssisə doktorantların elmi rəhbərliyi &uuml;&ccedil;&uuml;n iş&ccedil;i heyəti hazırlığı tədbirlərini təmin edir.</li>
</ul>
<p><strong>Nəzərə alınmalı məsələlər</strong></p>
<ul>
<li>Professorlar &uuml;&ccedil;&uuml;n tədqiqat, tədris və idarəetmə fəaliyyətlərinin prioritetlərinin təsviri.</li>
</ul>
<p><strong>Təhlil &uuml;&ccedil;&uuml;n t&ouml;vsiyə olunan sənəd və məlumatlar (m&ouml;vcuddursa):</strong></p>
<ul>
<li>Daimi və əlavə elmi iş&ccedil;ilər (doktorantların m&uuml;əyyən edilmiş minimum sayını nəzərə alaraq) &uuml;&ccedil;&uuml;n, eləcə də tam fəaliyyət (maksimum tələbə sayı) &uuml;&ccedil;&uuml;n nəzərdə tutulan vəzifələrin təsviri (məşğulluq və fəaliyyət sahəsi haqqında məlumatlar daxil olmaqla)</li>
<li>Elmi m&uuml;əssisədə (təşkilatda) fəaliyyət g&ouml;stərən elmi iş&ccedil;ilərin daimi və əlavə vəzifələri &uuml;&ccedil;&uuml;n tərc&uuml;meyi-hal (CV)</li>
<li>Fəaliyyət g&ouml;stərməyən elmi iş&ccedil;ilərin daimi əlavə vəzifələri &uuml;&ccedil;&uuml;n m&uuml;vafiq vəzifəni və nəzərdə tutulan məşğulluğun və ya tədris y&uuml;k&uuml;n&uuml;n miqdarını ifadə edən və əsas m&uuml;qavilənin bağlanacağı vaxtı g&ouml;stərən niyyət məktubu.</li>
<li>Tələbə-m&uuml;əllim nisbəti də daxil olmaqla tələbə-elmi rəhbər nisbətinin sənədləşdirilməsi.</li>
</ul>
<p><strong>&nbsp;</strong></p>
<h4><strong>Standart 3.4: Keyfiyyət təminatı </strong></h4>
<p>Elmi m&uuml;əssisə (təşkilat) doktorantura proqramlarının akkreditasiya meyarlarına və qaydaların qanuni tələblərinə cavab verdiyini qiymətləndirmək və doktorantura təhsilinin, x&uuml;susən də tədqiqat &ccedil;ər&ccedil;ivəsinin və elmi rəhbərliyin y&uuml;ksək keyfiyyətdə olmasını təmin etmək &uuml;&ccedil;&uuml;n təsirli keyfiyyət təminatı vasitələrini tətbiq edir.</p>
<p><strong>Bu standart niyə əhəmiyyətlidir?</strong></p>
<p>Elmi m&uuml;əssisə (təşkilat) &uuml;&ccedil;&uuml;n daxili keyfiyyət təminatının əhəmiyyəti aydın olsa da, doktorantura təhsili ilə x&uuml;susi və a&ccedil;ıq şəkildə məşğul olmaq vacibdir. Bu, doktorantura təhsilinin keyfiyyət təminatının b&uuml;t&uuml;n təminat&ccedil;ılar arasında ardıcıl və Fəlsəfə doktoru proqramlarında Avropa Ali Təhsil Məkanında Keyfiyyət Təminatı Standartlarına və Təlimatlarına uyğun olaraq tətbiqini təmin edəcək.</p>
<p><strong>Meyarlar </strong></p>
<ul>
<li>Elm m&uuml;əssisə (təşkilat) m&uuml;əssisənin &uuml;mumi daxili keyfiyyət təminatı sisteminin ayrılmaz hissəsi olan doktorantura proqramlarının qiymətləndirilməsi &uuml;&ccedil;&uuml;n m&uuml;əyyən edilmiş bir prosesi davamlı olaraq tətbiq edir.</li>
<li>Elmi m&uuml;əssisə (təşkilat) bu prosesə tələbələri və digər maraqlı tərəfləri cəlb edir.</li>
<li>Doktorantura proqramları y&uuml;ksək keyfiyyətli nəticə n&uuml;mayiş etdirir:
<ul>
<li>doktorantlar g&ouml;zlənilən m&uuml;ddətdə məzun olurlar;</li>
<li>doktorantların akademik g&ouml;stəriciləri nəticələrin y&uuml;ksək keyfiyyətini n&uuml;mayiş etdirir.</li>
</ul>
</li>
<li>Doktorantlar, elmi rəhbərlər və m&uuml;əllim heyəti proqramların həyata ke&ccedil;irilməsindən razıdırlar.</li>
</ul>
<p><strong>Fəlsəfə doktoru programları &uuml;&ccedil;&uuml;n əlavə meyarlar </strong></p>
<p>Fəlsəfə doktoru proqramlarında keyfiyyət təminat vasitələrinin tətbiqi və onların nəticələri aşağıdakı x&uuml;susiyyətlər nəzərə alınmaqla hazırki akkreditasiya d&ouml;vr&uuml; &uuml;&ccedil;&uuml;n sənədləşdirilir:</p>
<ul>
<li>Fəlsəfə doktoru proqramının profili və nəzərdə tutulan təlim nəticələri aydın şəkildə m&uuml;əyyən edilmişdir. Bunlara elmi səriştələr, şəxsi bacarıq və sosial səriştələr daxildir və onlar peşə tələblərinə cavab verir, Milli Kvalifikasiya &Ccedil;ər&ccedil;ivəsinə və Ali Təhsil pilləsinin D&ouml;vlət Standartı və Proqramına uyğundurlar. Kurikulumun məzmunu və quruluşu, nəzərdə tutulan təlim nəticələrinin əldə oluna biləcəyini təmin edir.</li>
<li>Fərdi modullarla əlaqəli iş y&uuml;k&uuml;, nəzərdə tutulan təlim nəticələrinin və x&uuml;susən də doktorantura dissertasiyasının hazırlanmasının m&uuml;əyyən edilmiş təhsil m&uuml;ddətində əldə oluna biləcəyini təmin edir. AKTYS d&uuml;zg&uuml;n tətbiq olunur; tədris hissələrinə (kurslara).</li>
</ul>
<p><strong>&nbsp;</strong></p>
<h4><strong>Standart 4: İdarəetmə və nəzarət</strong></h4>
<p>Elmi m&uuml;əssisə (təşkilat) tədqiqat fəaliyyətini, inzibati, digər fəaliyyət və xidmətlərini həyata ke&ccedil;irmək &uuml;&ccedil;&uuml;n effektiv və səmərəli idarəetmə struktur və mexanizmləri tətbiq edir.</p>
<p><strong>Niyə bu standart əhəmiyyətlidir?</strong></p>
<p>Elmi m&uuml;əssisələr (təşkilatlar), b&ouml;y&uuml;k &ouml;l&ccedil;&uuml;də elmi kadrlarından asılı və uzunm&uuml;ddətli perspektivlərə malik x&uuml;susi fəaliyyətlə məşğul olan kompleks m&uuml;əssisədir. Effektiv və səmərəli maliyyə tənzimləmələri, gələcək planlaşdırma, elm adamları &uuml;&ccedil;&uuml;n əlverişli şəraitin təmin edilməsi və əldə olunan nailiyyətlərin monitorinqi peşəkar nəzarət və idarə&ccedil;ilik tələb edir.</p>
<p><strong>Meyarlar </strong></p>
<ul>
<li>Elmi m&uuml;əssisə (təşkilat), tədqiqat proqramının effektiv və səmərəli şəkildə həyata ke&ccedil;irilməsini asanlaşdırmaq &uuml;&ccedil;&uuml;n uyğun təşkilati quruluşa malikdir.</li>
<li>Elmi m&uuml;əssisə (təşkilat) m&uuml;təmadi olaraq tədqiqat strategiyasının və tədqiqat proqramının həyata ke&ccedil;irilməsinə nəzarət edir.</li>
<li>Elmi m&uuml;əssisə (təşkilat) gələcək planlarını m&uuml;təmadi olaraq nəzərdən ke&ccedil;irir.</li>
<li>Elmi m&uuml;əssisə (təşkilat) m&uuml;təmadi olaraq tədqiqat strategiyasını və tədqiqat proqramını nəzərdən ke&ccedil;irir.</li>
<li>Elmi m&uuml;əssisə (təşkilat) idarəetmə qərarlarının risklərin qiymətləndirilməsi, monitorinq, daxili və xarici keyfiyyət təminatı nəticəsində əldə edilən məlumatları nəzərə almasını təmin etmək &uuml;&ccedil;&uuml;n mexanizmlər tətbiq edir.</li>
<li>İdarəetmə və inzibati vəzifələrə təyinat məqsədlərə nail olmaq &uuml;&ccedil;&uuml;n kvalifikasiya və potensiala əsaslanır.</li>
</ul>
<p><strong>Nəzərə alınmalı məsələlər</strong></p>
<ul>
<li>Rəsmi sənədlərin rəhbərliyin, iş&ccedil;ilərin, doktorantların və m&uuml;əssisə qurumlarında xarici maraqlı tərəflərin rollarını təsvir edirmi;</li>
<li>M&uuml;əssisəni idarə etmək &uuml;&ccedil;&uuml;n xarici maraqlı tərəflərin rəyi necə nəzərə alınır və istifadə olunur.</li>
</ul>
<p>&nbsp;</p>
<p><strong>Təhlil &uuml;&ccedil;&uuml;n t&ouml;vsiyə olunan sənəd və məlumatlar (m&ouml;vcuddursa):</strong></p>
<ul>
<li>M&uuml;əssisənin fəaliyyətinin idarə olunmasında və inkişafında daxili və xarici maraqlı tərəflərin rolunu əks etdirən nizamnamə və ya digər rəsmi sənəd;</li>
<li>Təşkilati struktur sxemi.</li>
</ul>
<h4><strong>Standart 5: Daxili keyfiyyət təminatı</strong></h4>
<p>Elmi m&uuml;əssisə (təşkilat), b&uuml;t&uuml;n fəaliyyət sahələrini əhatə edən təsirli daxili keyfiyyət təminatı sistemini tətbiq edir.</p>
<p><strong>Niyə bu standart əhəmiyyətlidir?</strong></p>
<p>Bu standart, elmi m&uuml;əssisənin (təşkilatın) məqsədlərinə &ccedil;atmasını təmin etmək və fəaliyyət, x&uuml;susən də tədqiqat keyfiyyətini artırmaq məqsədi daşıyan təsirli daxili keyfiyyət təminatı sisteminin tətbiqini təmin edir.</p>
<p><strong>Meyarlar </strong></p>
<ul>
<li>Daxili keyfiyyət təminatı sistemi elmi m&uuml;əssisənin (təşkilatın) Elmi Şurası tərəfindən sənədləşdirilir və təsdiqlənir.</li>
<li>Elm m&uuml;əssisənin (təşkilatın) keyfiyyət təminatı fəaliyyətinin həyata ke&ccedil;irilməsinə nəzarət edən və keyfiyyətə təminat vermə əməliyyatlarının həyata ke&ccedil;irilməsi &uuml;&ccedil;&uuml;n iş&ccedil;iləri işə cəlb edən bir qurumu var.</li>
<li>Elmi m&uuml;əssisə (təşkilat), b&uuml;t&uuml;n maraqlı tərəfləri (daxili və xarici) daxili keyfiyyət təminatı sisteminin tətbiqinə və daha da inkişafına cəlb edir.</li>
<li>Daxili keyfiyyət sistemi elmi m&uuml;əssisənin (təşkilatın) fəaliyyətinin b&uuml;t&uuml;n sahələrini əhatə edir.</li>
<li>Daxili keyfiyyət təminatı sistemi, m&uuml;əssisənin fəaliyyətinin monitorinqi nəticəsində əldə edilən məlumatların təhlilini, lazım olduqda digər məlumatların toplanması və təhlilini, iş&ccedil;ilərin və xarici maraqlı tərəflərin iş şəraiti (iş&ccedil;i heyəti), əməliyyat və nəticələrin keyfiyyəti ilə bağlı rəylərin toplanması və təhlilini nəzərdə tutur.</li>
<li>Təyin olunmuş qurum, m&uuml;əssisənin əməliyyatlarının keyfiyyətinin artırılması &uuml;&ccedil;&uuml;n t&ouml;vsiyələr daxil olmaqla, daxili keyfiyyət təminatı sistemində nəticə və təhlillər haqda m&uuml;təmadi olaraq rəhbərliyə hesabat verir.</li>
<li>Elmi Şura daxili keyfiyyət təminatı sisteminin səmərəliliyini m&uuml;təmadi olaraq qiymətləndirir.</li>
</ul>
<p><strong>Nəzərə alınmalı məsələlər&nbsp; </strong></p>
<ul>
<li>Elmi m&uuml;əssisə (təşkilat) keyfiyyət siyasətinə sahibdirmi və daxili keyfiyyət təminatı sistemini m&uuml;əyyən edibmi;</li>
<li>Daxili keyfiyyət təminatı sistemi necə hazırlandı;</li>
<li>Elmi m&uuml;əssisənin (təşkilatın) daxili keyfiyyət təminatı sistemi prosedur qaydalarından aydın olmalıdır (Keyfiyyət Təlimatı və ya oxşar sənəd). Keyfiyyət d&ouml;vr&uuml;n&uuml;n tamamlanmadığını qiymətləndirir, bu da &ouml;z əksini tapır:
<ul>
<li>Metodoloji, m&uuml;qayisə edilə bilən və yoxlanıla bilən məlumatların toplanması, onların təhlili və m&uuml;əssisə fəaliyyətinin keyfiyyətinin qiymətləndirilməsi;</li>
<li>İş&ccedil;i heyətin, doktorantlarının və xarici maraqlı tərəflərin məmnunluğunun monitorinqi;</li>
<li>Elmi m&uuml;əssisənin (təşkilatın) fəaliyyətinin keyfiyyətinin təmin edilməsinə, inkişaf və proqresinin təkmilləşdirilməsinə, eyni zamanda səhvlərin və &ccedil;atışmazlıqların tez bir zamanda aradan qaldırılmasına imkan verən tədbirlərin planlaşdırılması, həyata ke&ccedil;irilməsi və monitorinqi;</li>
</ul>
</li>
</ul>
<p><strong>Təhlil &uuml;&ccedil;&uuml;n t&ouml;vsiyə olunan sənəd və məlumatlar (əgər varsa):</strong></p>
<ul>
<li>Daxili keyfiyyət təminatı sisteminin sənədləri (keyfiyyət təlimatı/nizamnaməsi və s.);</li>
<li>Elmi m&uuml;əssisənin (təşkilatın) fəaliyyətinin təkmilləşdirilməsi &uuml;&ccedil;&uuml;n g&ouml;r&uuml;lən tədbirlər ilə birlikdə əvvəlki akkreditasiyadan olan qiymətləndirmə hesabatı;</li>
<li>Anket, sorğu, m&uuml;zakirələr və s. vasitəsilə alınan rəy haqqında məlumatlar</li>
</ul>
<p>&nbsp;</p>
<h4><strong>Standart 6: Akademik d&uuml;r&uuml;stl&uuml;k </strong></h4>
<p>Elmi m&uuml;əssisə (təşkilat) akademik d&uuml;r&uuml;stl&uuml;y&uuml; qorumaq &uuml;&ccedil;&uuml;n effektiv prosedurlar tətbiq edir.</p>
<p><strong>Meyarlar </strong></p>
<ul>
<li>Akademik d&uuml;r&uuml;stl&uuml;y&uuml; qoruyan sistem, elmi m&uuml;əssisənin (təşkilatın) Elmi Şurası tərəfindən sənədləşdirilir və təsdiqlənir.</li>
<li>Elmi m&uuml;əssisə/təşkilat akademik d&uuml;r&uuml;stl&uuml;y&uuml; qorumaq &uuml;&ccedil;&uuml;n sistemin həyata ke&ccedil;irilməsindən məsul olan qurumu təyin edir və akademik d&uuml;r&uuml;stl&uuml;y&uuml; qorumaq &uuml;&ccedil;&uuml;n bu sistemin həyata ke&ccedil;irilməsi &uuml;&ccedil;&uuml;n iş&ccedil;iləri işə cəlb edir.</li>
<li>Məsul qurum işlərə baxılması &uuml;&ccedil;&uuml;n nizamnamələr tətbiq edir.</li>
<li>Akademik d&uuml;r&uuml;stl&uuml;y&uuml;n qorunması sistemi beynəlxalq yaxşı təcr&uuml;bəyə uyğun olaraq akademik d&uuml;r&uuml;stl&uuml;y&uuml;n tərifinə əsaslanır (d&uuml;r&uuml;stl&uuml;k, obyektivlik, a&ccedil;ıqlıq, şəffaflıq, tədris və tədqiqat azadlığı, akademiya və cəmiyyət qarşısında məsuliyyət).</li>
<li>Akademik d&uuml;r&uuml;stl&uuml;y&uuml; qoruyan sistem, fərdlərin və akademik cəmiyyətin məsuliyyətli davranışını, fərdlərə ədalətli və bərabər davranılmasını, peşəkar davranışı, cəmiyyətin və icmanın y&uuml;ksək mənəvi standartlara h&ouml;rmətini, sui-istifadə hallarının, maraqların toqquşması və proteksionizm, lobbi&ccedil;ilik, təzyiq, şantaj, r&uuml;şvət və korrupsiya kimi qanunsuz təsirlərin qarşısının alınmasını təmin etmək &uuml;&ccedil;&uuml;n lazımi mexanizm, alət və xidmətləri əhatə edir.</li>
<li>Akademik d&uuml;r&uuml;sl&uuml;y&uuml; qoruyan sistem, m&uuml;xtəlif plagiat formaların (yalnış sitat, saxtalaşdırma, uydurma, intellektual oğurluq, kopyalama) qarşısının alınması &uuml;&ccedil;&uuml;n lazımi mexanizm, alət və xidmətləri əhatə edir;</li>
<li>Akademik d&uuml;r&uuml;stl&uuml;y&uuml; qoruyan sistem, elmi iş&ccedil;ilərə və doktorantlara akademik d&uuml;r&uuml;sl&uuml;k prinsip və dəyərləri haqqında dəstək və səlahiyyət vermək &uuml;&ccedil;&uuml;n lazımi mexanizmləri əhatə edir.</li>
<li>Məsul orqan m&uuml;təmadi olaraq rəhbərliyə hesabat verir.</li>
</ul>
<p><strong>Nəzərə alınmalı məsələlər</strong></p>
<ul>
<li>Akademik d&uuml;r&uuml;stl&uuml;k, tolerantlıq və diskriminasiya etməmək, m&uuml;raciətlər, etika və prosedurların harada və necə tətbiq olunduğu barədə məlumat; təcr&uuml;bədə necə həyata ke&ccedil;irilir;</li>
<li>Həyata ke&ccedil;irmə n&uuml;munələri g&ouml;stərilməlidir;</li>
<li>Hansı m&uuml;bahisə həll prosedurları m&ouml;vcuddur və necə işləyirlər;</li>
</ul>
<p><strong>Təhlil &uuml;&ccedil;&uuml;n t&ouml;vsiyə olunan sənəd və məlumatlar (m&ouml;vcuddursa):</strong></p>
<ul>
<li>Akademik d&uuml;r&uuml;stl&uuml;k prinsiplərini ehtiva edən akademik davranış və ya oxşar sənəd;</li>
<li>Şikayətlər və onlara baxılma prosedurları;</li>
<li>İllik şikayətlərin sayı (son 3 ilin məlumatları);</li>
<li>Şikayətlərə baxılma nəticələri (son 3 ilin məlumatları)</li>
</ul>
<p>&nbsp;</p>
    </div>
</div>
<%- include('./partials/footer.ejs') %> 
