<div class="backround-image">
    <%- include('./partials/header.ejs') %> 
</div>
<div class="features">
    <div class="feature">
        <div class="icon"><i class="bi bi-shield-check"></i></div>
        <h2>You are safe with us</h2>
       <p> The way to success is somewhere here!</p>
       <button>Read more <i class="bi bi-arrow-right"></i></button>
    </div>
    <div class="feature">
        <div class="icon"><i class="bi bi-envelope"></i></div>
        <h2>Individual customer supports</h2>
       <p> "The same size doesn’t fit all" – That is the gospel truth!  </p>
       <button>Read more <i class="bi bi-arrow-right"></i></button>
    </div>
    <div class="feature">
        <div class="icon"><i class="bi bi-laptop"></i></div>
        <h2>Unlimited opportunities</h2>
       <p> If you need it, we got it!</p>
       <button>Read more <i class="bi bi-arrow-right"></i></button>
    </div>
</div>

<div class="about">
    <div class="abouttext">
        <h1>We are experts in public and private sectors</h1>
        <p style="line-height: 1.5;">Introducing new line social, economical, financial and technical consulting & research services in public and private sectors is the main focus of the SEFT Consulting.</p>
        <button>Read more <i class="bi bi-arrow-right"></i></button>
    </div>
    <div class="aboutimage"><img src="/images/expert.webp" alt="" style="width: 400px;"></div>
</div>
<div class="newsblock">
<div class="news">
    <div class="newscontent">
        <div class="newsimage"><img style="max-width: 100%; " src="https://img.freepik.com/free-photo/interior-wall-mockup-with-green-plantgreen-wall-shelf3d-rendering_41470-4431.jpg?w=1060" alt=""></div>
        <div class="newsname"><h3>Lorem, ipsum.</h3></div>
        <div class="newsshort"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, iusto.</p></div>
        <button>Read more <i class="bi bi-arrow-right"></i></button>
        <div class="date">10/10/2020</i></div>
    </div>
    <div class="newscontent">
        <div class="newsimage"><img style="max-width: 100%; " src="https://img.freepik.com/free-photo/interior-wall-mockup-with-green-plantgreen-wall-shelf3d-rendering_41470-4431.jpg?w=1060" alt=""></div>
        <div class="newsname"><h3>Lorem, ipsum.</h3></div>
        <div class="newsshort"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, iusto.</p></div>
        <button>Read more <i class="bi bi-arrow-right"></i></button>
        <div class="date">10/10/2020</i></div>
    </div>
    <div class="newscontent">
        <div class="newsimage"><img style="max-width: 100%; " src="https://img.freepik.com/free-photo/interior-wall-mockup-with-green-plantgreen-wall-shelf3d-rendering_41470-4431.jpg?w=1060" alt=""></div>
        <div class="newsname"><h3>Lorem, ipsum.</h3></div>
        <div class="newsshort"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, iusto.</p></div>
        <button>Read more <i class="bi bi-arrow-right"></i></button>
        <div class="date">10/10/2020</i></div>
    </div>
    <div class="newscontent">
        <div class="newsimage"><img style="max-width: 100%; " src="https://img.freepik.com/free-photo/interior-wall-mockup-with-green-plantgreen-wall-shelf3d-rendering_41470-4431.jpg?w=1060" alt=""></div>
        <div class="newsname"><h3>Lorem, ipsum.</h3></div>
        <div class="newsshort"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, iusto.</p></div>
        <button>Read more <i class="bi bi-arrow-right"></i></button>
        <div class="date">10/10/2020</i></div>
    </div>
</div>
<a href="/blogs"><div style="margin-bottom: 10px; display: flex; justify-content: center; margin-top: 10px;" class="allnews">All news</div></a>
</div>
<div class="partners">
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
               <a href="/"> <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" /></a>
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
            </div>
        </div>
    </div>

    </div>

</div>

<%- include('./partials/footer.ejs') %> 