<!DOCTYPE html>
<html lang="en">
<head>
<%-include('./inc/head')%> 
</head>
<body>
  <%-include('. /inc/nav')%>
    <section>
      <h1>Main Page</h1>
      <!-- <ul> <% evaluations.forEach(evaluation=>{ %>
        <li><a href="/evaluation/<%=evaluation._id%>"><%=evaluation.name%></a>
    
        
        </li>

        <% }) %>
      </ul> -->

    </section>

</body>
</html>