<div class="backround-image">
    <%- include('./partials/header-section.ejs') %> 
</div>

<div class="library" style="width: 80%; margin: 3px auto; line-height: 1.5;" >
    <h2>General documents</h2>
    <div class="contain">
        <h3 style="margin: 2px 0;">Azerbaijan in figures-2008</h3>
        <p>General information, National wealth, Natural resources,  Population, Labour, Living level, Education, Health and tourism, Crimes, Gross domestic product, Institutional activities, Industry, Agriculture, Construction, Transport, Communication, Trade and paid services, External trade, Price and tariff indices, Finance and credit, harts</p>
        <a href="/documents/AZERBAIJAN%20IN%20FIGURES-2008.pdf"><button>Download<i style="font-size: 14; margin-left: 15px;" class="bi bi-download"></i></button></a>
    </div>
</div>
<div class="library" style=" max-height: fit-content; width: 80%; margin: 3px auto; line-height: 1.5;" >
    <div class="contain">
        <h3 style="margin: 2px 0;">Azerbaijan Poverty Program for 2008-2015</h3>
        <p>"State Program on Poverty Reduction and Sustainable Development in the Republic of Azerbaijan for 2008-2015"</p>
        <p>Approved by the Decree #3043 of the President of the Republic of Azerbaijan dated of September 15, 2008"</p>
        <a href="/documents/AZERBAIJAN%20IN%20FIGURES-2008.pdf"><button>Download<i style="font-size: 14; margin-left: 15px;" class="bi bi-download"></i></button></a>
    </div>
</div>
<div class="library" style="width: 80%; margin: 3px auto; line-height: 1.5;" >
    <div class="contain">
        <h3 style="margin: 2px 0;">Azerbaijan Regional Development Programe for 2009-2013</h3>
        <p>"State Program on Socio-Economic Development of the Republic of Azerbaijan for 2009-2013 years"</p>
        <p>Approved by the Decree of Azerbaijan Republic dated April 14, 2009</p>
        <a href="/documents/AZERBAIJAN%20IN%20FIGURES-2008.pdf"><button>Download<i style="font-size: 14; margin-left: 15px;" class="bi bi-download"></i></button></a>
    </div>
</div>
<div class="library" style="width: 80%; margin: 3px auto; line-height: 1.5;" >
    <div class="contain">
        <h3 style="margin: 2px 0;">Information on ISCO 88-08</h3>
        <p>An occupational classification is a tool for organising all jobs in an establishment, an industry or a country into a clearly defined set of groups according to the tasks and duties undertaken in the job.</p>
        <a href="/documents/AZERBAIJAN%20IN%20FIGURES-2008.pdf"><button>Download<i style="font-size: 14; margin-left: 15px;" class="bi bi-download"></i></button></a>
    </div>
</div>
<div class="library" style="width: 80%; margin: 3px auto; line-height: 1.5;" >
    <div class="contain">
        <h3 style="margin: 2px 0;">Ocupational classification and standards</h3>
        <p>ISCO-88 organises occupations in an hierarchical framework. At the lowest level is the unit of classification - a job - which is defined as a set of tasks or duties designed to be executed by one person. Jobs are grouped into occupations according to the degree of similarity in their constituent tasks and duties.</p>
        <a href="/documents/AZERBAIJAN%20IN%20FIGURES-2008.pdf"><button>Download<i style="font-size: 14; margin-left: 15px;" class="bi bi-download"></i></button></a>
    </div>
</div>
<%- include('./partials/footer.ejs') %> 