<%- include('partials/header.ejs') %> 

<div class="container">

    <form action="/login" method="post">
       
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">Elektron poçt ünvanınızı qeyd edin.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Daxil ol</button>
      </form>

</div>



<%- include('partials/footer.ejs') %> 
