<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%> 
</head>
<body>
    <%-include('./inc/nav')%> 
    <section>
        <form action="" method="post">
            <input type="text" name="username"  placeholder="Ad">
            <input type="text" name="Surname" placeholder="Soyad">
            <input type="email" name="email" placeholder="Elektron poçt ünvanı">
            <input type="text" name="idcard" placeholder="FİN nömrəsi">
            <input type="number" name="telefon"  placeholder="Telefon">
            <input type="password" name="password" placeholder="Şifrə">
            <input type="submit" value="Göndər">


        </form>
    </section>
</body>
</html>