<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%> 
</head>
<body>
   <%-include('./inc/nav')%> 
   <section>
    <h3>Institution List</h3>
    <ul>
        <% evaluations.forEach(evaluation=>{ %>
            <li> <a href="/"><%=evaluation.name%> </a></li>

         <%  }) %>  
    </ul>
</section>
</body>
</html>