<%- include('../partials/header.ejs') %>
    <div class="evbackround">
        <div class="content">
            <div class="header"
                style=" color: azure; display: flex; justify-content: center; align-items: center; padding-top: 100px;">
                <h1>Müəssisələrin özünüqiymətləndirmə hesabatı</h1>
            </div>
            <div class="button"
                style="display:flex; justify-content: center; gap: 5px; padding-bottom: 15px; z-index: 1;">
                <button class="btn btn-secondary">Hesabatlar</button>
                <button class="btn btn-secondary" style="z-index: 5;">İstifadəçi siyahısı</button>
                <button class="btn btn-secondary " style="z-index: 5;">Expertlər</button>
            </div>
        </div>
    </div>
    <div class="container" style="margin-bottom: 10px;">
        <div class="box-container">
            <% evaluations.forEach(evaluation=>{ %>
        </div>
        <div class="box">
            <li style="text-decoration: none; list-style: none; margin-left: 10px; display: flex; "><svg
                    xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                        d="M12 3L1 9l4 2.18v6L12 21l7-3.82v-6l2-1.09V17h2V9L12 3zm6.82 6L12 12.72 5.18 9 12 5.28 18.82 9zM17 15.99l-5 2.73-5-2.73v-3.72L12 15l5-2.73v3.72z" />
                </svg><a href="/evaluations/<%=evaluation._id%>">
                    <%=evaluation.name%>
                </a>

            </li>
            <% }) %>
                </ul>
        </div>
    </div>

    <%- include('../partials/footer.ejs') %>