.area{
    max-width: 100%;
    display: flex;
}

.leftarea{
    min-width: 250px;
    background-color: white;
    border: 1px solid;
    border-color: rgb(215, 218, 218);
    margin-left: 20px; margin-top: 10px;
    border-radius: 5px;
    

}

.leftarea li{
list-style: none;
padding: 2px;

}

.leftarea li {
    padding: 5px ;
    text-decoration: none;
    transition: 0.3 ease all;
    cursor: pointer;
    color: dodgerblue;
}
.leftarea li:hover{
    background-color: dodgerblue;
    color: white;
    transition: 0.3s ease all;
    }

.question{
    background-color: white;
    max-width: 100%;
    min-width: 100%;
    border: 1px solid;
    border-color: rgb(215, 218, 218);
    margin-left: 20px; margin-top: 10px;
    border-radius: 5px;
    z-index: 1;
   align-self: baseline;
   padding: 5px;
   transition: 0.3s ease all;

   
}

.comment{
    border: 1px solid rgb(215, 218, 218);
    padding: 3px; 
    margin-top: 5px;
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    color: brown;

}

.centerarea{
    position: relative;
    z-index: 10;
    min-width: calc(100% - 290px);
   
}

.pdfcontent{
    min-width: 100%;
}

