@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;1,300&display=swap');



body{
    font-family: fira Sans;
    /* background-color: rgb(245, 244, 244); */
    background-image: url(http://www.aak.gov.az/public/frontAssets/images/bg7.png);
    background-size: 30px;
   
}

.navbar{
    height: 66px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 11px -4px #9e9e9e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
   
    
}
.navbar ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar ul li{
    align-items: center;
    display: flex;
}





section{
    max-width: 800px;
    margin: 40px auto;
}


form{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 40px auto;
}

form input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

form input, p, textarea {
    margin-bottom: 10px;
   
}

textarea {
    margin-bottom: 25px;
    
}

form span {
   font-weight: 600;
   margin-left: 2px;
   cursor: pointer;
   
}


span {
    color: rgb(97, 20, 220);
   
}

.institution h2{
    font-weight: 600;
    text-align: center;
}


.container {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

}
.container h2 {
    font-weight: 600;
}



@keyframes fade {
    form{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}



.mteskilat li{
   list-style: none;
   font-weight: 600;
}

.mteskilat svg{
    margin-right: 2px;
    transform: rotate(180deg);
}


.comment-box textarea{
    max-height: 40px;
    min-width: 100%;
}

.comment-box h5{
    font-weight: 600;

}

.comment-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    height: 66px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    display: block;
    box-shadow: 0 3px 11px -4px #9e9e9e;
    margin-bottom: 10px;
}


.box a {
    color:rgba(0, 0, 0, 0.8);
    font-weight: 900;
    text-decoration: none;
    list-style: none;
    padding-left: 15px;
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
}

.evbackround{
    margin-bottom: 20px;
    background-color: #0071eb;
    width: 100%;
background: transparent linear-gradient(
135deg
, #0071EB 30%, #14d4d8 100%);
height: 200px;

}

.inbackround{
    
    background-color: #b400eb;
    width: 100%;
background: transparent linear-gradient(
135deg
, #5720f0 30%, #cb93ff 100%);
height: 100px;

}


.box-container{
    padding-bottom: 15px;
}
body{
    background-image: url(http://www.aak.gov.az/public/frontAssets/images/bg7.png);
background-size: 10px;
}

.evbackround .content:after {
content: "";
position: absolute;
top: 0;
right: -0px;
z-index: 0;
width: 600px;
max-width: 100%;
height: 800px;
background: transparent url(https://cdn.oreillystatic.com/oreilly/images/odot_white_578x212.svg) right top no-repeat;
background-size: contain;
background-position: 0 -30px;
opacity: .2;
}

.inbackround .content:after {
    content: "";
    position: absolute;
    top: 0;
    right: -0px;
    z-index: 0;
    width: 600px;
    max-width: 100%;
    height: 800px;
    background: transparent url(https://cdn.oreillystatic.com/oreilly/images/odot_white_578x212.svg) right top no-repeat;
    background-size: contain;
    background-position: 0 -30px;
    opacity: .2;
    }

    .evaluationauthor{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    


